body {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "微软雅黑";
}

button {
    width: 10%;
    height: 10%;
    color: white;
    background-color: black;
}
#animationSpeed{
    width:10%;
}
#animationSpeedSubmit{
    width:10%;
}
#svgContainer1{

    width:100%;
    height:50%;
    position:absolute;
    z-index:2;
}